# Archivos de configuración de entorno
.env

# Archivos de Microsoft Word
.docx

# Entorno virtual en la raíz del proyecto
/.venv

# Configuración de Visual Studio Code
/.vscode

# Configuración de Gradio
/.gradio

# Directorios de caché de Python
**/__pycache__/